<h1>Editing admin_article</h1>

<%= render 'form' %>

<div class="additional_buttons">
<%= link_to 'Show', admin_article_path(@article), :class => 'button white_button' %> |
<%= link_to 'Back', admin_articles_path, :class => 'button white_button' %>
</div>


