.form_column {
  float: left;
  .small-input {
    width: 95% !important;
  }
}

.additional_buttons {
  margin-left: 330px;
  margin-top: -25px;
}

.show_additional_buttons {
  margin-left: 0px;
}

.actions {
  margin-top: 5px;
}

form .error{
  background: none !important;
  color:red;
}