
  <div class="span8">
    <div class="well align-center">
      <h3>Table of Content</h3>
      <hr>
      <div class="pagination">
        <ul>
          <li>
            <a href="#">Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">Next</a>
          </li>
        </ul>
      </div>
      <div class="pagination pull-left"></div>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <form class="form-search">
        <input type="text" class="input-large" placeholder="Search">
        <a class="btn">Search</a>
      </form>
    </div>
    <div class="well">
      <h4 class="align-center">Latest&nbsp;Blog Entry</h4>

      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nulla
          nisl, nec volutpat orci. In odio massa, aliquam et mattis sed, volutpat
          condimentum mi. Phasellus euismod accumsan diam, a semper dolor rutrum
          eu. Integer sodales ultrices congue. Donec ornare lectus vitae velit iaculis
          ultrices. Maecenas mattis viverra libero id aliquam. Sed vel ullamcorper
          dolor. Nulla elit nisi, laoreet eget tincidunt quis, auctor sed massa.
          Aliquam eu eleifend nisi. Nam consequat lacus quis enim accumsan egestas.
          Nullam a dui eget felis vestibulum pulvinar vel in turpis. Quisque justo
          odio, commodo et consectetur eu, rhoncus vitae lorem. Vivamus id fringilla
          est. Proin auctor libero cursus ligula vulputate ac rutrum elit iaculis.
          Etiam sit amet iaculis metus. Vivamus tristique consequat euismod.</span>
        <br>
      </p>
      <a class="btn btn-info">Read more</a>
    </div>
  </div>

